.uploadResult{
    width: 100%;
    background-color : gray;
}

.uploadResult ul{
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.uploadResult ul li{
    list-style: none;
    padding: 10px;
    align-content: center;
    text-align: center;
}

.uploadResult ul li img{
    width: 100px;
}

.uploadResult ul li img.attach{
    width:20px;
}

.uploadResult ul li span{
    color:white;
}

.bigPictureWrapper{
    position:absolute;
    display:none;
    justify-content:center;
    aligin-items: center;
    top:10%;
    width:100%;
    hegith:100%;
    background-color:gray;
    z-index:100;
    background:rgba(255,255,255, 0.5);
}
.bigPicture{
    position:relative;
    display:flex;
    justify-content: center;
    aligin-items: center;
}
.bigPicture img {
    width:600px;
}